<include file="Public/headerFooter"/>
	<div class="mui-content" style="margin-top:-15px;">
		<ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: rgba(96,56,17,1);">
		    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		        <a href="{:U('Admin/help')}">
					<span class="mui-icon iconfont icon-quanxian" style="color:white"></span>
		            <div class="mui-media-body" style="color:white">签到权限</div>
		        </a>
		    </li>
		   	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		        <a href="{:U('Admin/jianzhi')}">
		            <span class="mui-icon iconfont icon-jianzhituijian" style="color:white"></span>
		            <div class="mui-media-body" style="color:white">兼职管理</div>
		        </a>
		    </li>
		    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		        <a href="{:U('Admin/paiban')}">
		            <span class="mui-icon iconfont icon-p-date-manage" style="color:white"></span>
		            <div class="mui-media-body" style="color:white">兼职排班</div>
		        </a>
		    </li>
		    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		        <a href="#">
		            <span class="mui-icon iconfont icon-feiyong" style="color:white"></span>
		            <div class="mui-media-body" style="color:white">统计兼职费</div>
		        </a>
		    </li>
			<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
				<a href="{:U('Admin/nornal')}">
					<span class="mui-icon iconfont icon-zidong" style="color:white"></span>
					<div class="mui-media-body" style="color:white">自动下单管理</div>
				</a>
		    </li>
		    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
		    	<a href="#">
		            <span class="mui-icon iconfont icon-permission" style="color:white"></span>
		            <div class="mui-media-body" style="color:white">会员权限</div>
		        </a>
		    </li>
		</ul>
	</div>
<script>
	(function($) {
		$('.mui-scroll-wrapper').scroll({
			indicators: true 
		});
		mui('#nav').on('tap', 'a', function() {
			switch (this.getAttribute('name')) {
				case 'one':dump_page("{:u('Main/index')}");break;
				case 'two':dump_page("{:u('Buy/index')}");break;
				case 'three':dump_page("{:u('Admin/finance')}");break;
				case 'four':dump_page("{:u('Admin/index')}");break;
				case 'five':dump_page("{:u('Main/personal')}");break;
			}
		});
		function dump_page(url){
			window.location.href=url;
		}
	})(mui);

</script>
</body>
</html>