<include file="Public/headerFooter"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mui.picker.min.css" />
<style type="text/css">
	.mui-card{
		margin-top: 20px;
	}
</style>
<div class="mui-content">
	<div id="slider" class="mui-slider">
		<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<a class="mui-control-item" href="#item1mobile">
				录入信息
			</a>
			<a class="mui-control-item" href="#item2mobile">
				收入
			</a>
			<a class="mui-control-item" href="#item3mobile">
				支出
			</a>
		</div>
		<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
		<div class="mui-slider-group" style="height:550px">
		<!--录入-->
			<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
				<div id="scroll1" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-card">
							<form class="mui-input-group" action="{:U('Admin/finance')}" method="post" id="post_form">
								<div class="mui-input-row">
									<label style="margin-left:-15px" class="btn" data-options='{"type":"date","beginYear":2014,"endYear":2016}'>选择日期</label>
									<input name="ym" id="time" type="text" class="mui-input-clear mui-input inputFont" placeholder="请选择日期">
								</div>
								<div class="mui-input-row">
									<label>营业额</label>
									<input name="allmoney" type="text" class="mui-input-clear mui-input inputFont" placeholder="营业额">
								</div>
								<div class="mui-input-row">
									<label>支付宝</label>
									<input name="alipay" type="text" class="mui-input-clear mui-input inputFont" placeholder="支付宝">
								</div>
								<div class="mui-input-row">
									<label>微信</label>
									<input name="weixinpay" type="text" class="mui-input-clear mui-input inputFont" placeholder="微信">
								</div>
								<div class="mui-input-row">
									<label>现金</label>
									<input name="cash" type="text" class="mui-input-clear mui-input inputFont" placeholder="现金">
								</div>
								<div class="mui-input-row">
									<label>订单</label>
									<input name="num" type="text" class="mui-input-clear mui-input inputFont" placeholder="订单">
								</div>
								<div class="mui-input-row">
									<label>昨日零钱</label>
									<input name="yesterDay" type="text" class="mui-input-clear mui-input inputFont" placeholder="昨日零钱">
								</div>
								<div class="mui-input-row">
									<label>今日应有</label>
									<input name="todayYingyou" type="text" class="mui-input-clear mui-input inputFont" placeholder="今日应有">
								</div>
								<div class="mui-input-row">
									<label>今日实有</label>
									<input name="todayShiyou" type="text" class="mui-input-clear mui-input inputFont" placeholder="今日实有">
								</div>
								<div class="mui-input-row">
									<label>取走</label>
									<input name="takeUp" type="text" class="mui-input-clear mui-input inputFont" placeholder="取走">
								</div>
								<div class="mui-input-row">
									<label>余零</label>
									<input name="info" type="text" class="mui-input-clear mui-input inputFont" placeholder="余零">
								</div>
								<div class="mui-content-padded">
									<button type="submit" class="mui-btn mui-btn-block mui-btn-warning" style="margin-top:20px">提交</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--收入-->
			<div id="item2mobile" class="mui-slider-item mui-control-content">
				<p class='mui-ellipsis' style="text-align:center;margin-top:10px">偶买噶，这样都被你看见>_<</p>
				<div id="scroll2" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="busuness">
							<foreach name="business" item="data">
								<li class="mui-table-view-cell mui-media">
									<a>
										<div class="mui-media-body">
											<label style="color:red;">营业额:{$data.allmoney}</label>
											<span style="float:right">日期:{$data.ym}</span>
											<p>
												<label>订单:{$data.num}</label>
												<label style="float:right">现金:{$data.cash}</label>
											</p>
											<p>
												<label>支付宝:{$data.alipay}</label>
												<label style="float:right">微信:{$data.weixinpay}</label>
											</p>
											<p>
												<label>昨日零钱:{$data.yesterday}</label>　　
												<label style="float:right">余零:{$data.info}</label>
											</p>
											<p class='mui-ellipsis'>
												<label>今日应有:{$data.todayyingyou}</label>
												<label style="float:right">今日实有:{$data.todayshiyou}</label>
											</p>
											<p>
												<label>取走:{$data.takeup}</label>
												<button name="{$data.id}" style="float:right" type="button" class="mui-btn mui-btn-danger mui-pull-right busuness_del">删除</button>
											</p>
										</div>
									</a>
								</li>
							</foreach>
						</ul>
					</div>
				</div>
			</div>
			<!--支出-->
			<div id="item3mobile" class="mui-slider-item mui-control-content">
				<p class='mui-ellipsis' style="text-align:center;margin-top:10px">偶买噶，这样都被你看见>_<</p>
				<div id="scroll2" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="cf">
							<foreach name="cost" item="data">
								<li class="mui-table-view-cell mui-media">
									<a>
										<div class="mui-media-body">
											<label style="color:red;">厨房:{$data.chufang}</label>
											<span style="float:right">日期:{$data.ym}</span>
											<p>
												<label>吧台:{$data.batai}</label>
												<label style="float:right">网购:{$data.online}</label>
											</p>
										</div>
									</a>
								</li>
							</foreach>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script src="__PUBLIC__/js/jquery-1.11.2.min.js"></script>
<script src="__PUBLIC__/js/mui.picker.min.js"></script>
<script>
	(function($) {
		$.init();
		var result = $('#result')[0];
		var btns = $('.btn');
		btns.each(function(i, btn) {
			btn.addEventListener('tap', function() {
				var optionsJson = this.getAttribute('data-options') || '{}';
				var options = JSON.parse(optionsJson);
				var id = this.getAttribute('id');
				var picker = new $.DtPicker(options);
				picker.show(function(rs) {
					document.getElementById('time').value=rs.text;
					picker.dispose();1
				});
			}, false);
		});

		$('.mui-scroll-wrapper').scroll({
			indicators: true 
		});
		mui('#nav').on('tap', 'a', function() {
			switch (this.getAttribute('name')) {
				case 'one':dump_page("{:u('Main/index')}");break;
				case 'two':dump_page("{:u('Buy/index')}");break;
				case 'three':dump_page("{:u('Admin/finance')}");break;
				case 'four':dump_page("{:u('Admin/index')}");break;
				case 'five':dump_page("{:u('Main/personal')}");break;
			}
		});
		function dump_page(url){
			window.location.href=url;
		}
	})(mui);

	$(document).ready(function(){
		//设置页面的高
		$('.mui-slider-group').height($(document).height()-80);
		//签到操作
		$("#post_form").submit(function(e){
			var result = confirm('你确定要提交吗？');
			if(!result) {
				return 0;
			}
	        var self = $(this);
	        $.post(self.attr("action"), self.serialize(), success, "json");
	        return false;
	        function success(ajaxdata){
	         	if(ajaxdata.status==1){
	         		mui.alert(ajaxdata.info.tip);
	         		$("#busuness").prepend('<li class="mui-table-view-cell mui-media"><a><div class="mui-media-body"><label style="color:red;">营业额:'+ajaxdata.info.allmoney+'</label><span style="float:right">日期:'+ajaxdata.info.ym+'</span><p><label>订单:'+ajaxdata.info.num+'</label><label style="float:right">现金:'+ajaxdata.info.cash+'</label></p><p><label>支付宝:'+ajaxdata.info.alipay+'</label><label style="float:right">微信:'+ajaxdata.info.weixinpay+'</label></p><p><label>昨日零钱:'+ajaxdata.info.yesterday+'</label>　　<label style="float:right">余零:'+ajaxdata.info.info+'</label></p><p><label>今日应有:'+ajaxdata.info.todayYingyou+'</label><label style="float:right">今日实有:'+ajaxdata.info.todayShiyou+'</label></p><p><label>取走:'+ajaxdata.info.takeUp+'</label><button name="'+ajaxdata.info.id+'" style="float:right" type="button" class="mui-btn mui-btn-danger mui-pull-right busuness_del">删除</button></p></div></a></li>');
		        }else{
		          	mui.toast(ajaxdata.info);
		        }
      		}
  		});

  		//收入删除操作
        $('#busuness').on('click','.busuness_del',function(){
        	var result = confirm('你确定要删除吗？');
			if(!result) {
				return 0;
			}
            var id=$(this).attr("name");
           	var _this=$(this);
            $.ajax({
            	url: "{:U('Admin/busuness_del')}",
            	dataType: "json",
            	async: true,
            	data: {id:id},
            	type: "POST",
            	success: function(ajaxdata) {
            		if(ajaxdata.status==1){
            			mui.toast(ajaxdata.info);
           				_this.parent().parent().parent().parent().remove();
            		}else{
            			mui.toast(ajaxdata.info);
            		}
            	},
            	error: function() {
            		alert('网络出错');
            	}
            });
        });
	});
</script>
</body>
</html>